
.form{
    height: 280px;
    width: 430px;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-radius: 7px 7px 7px 7px;
    margin-left: 35%;
    margin-top: 40px;
    background-color: rgb(192, 33, 240);
    z-index: 1;
}
.labels{
    background-color:  rgb(192, 33, 240);
    display: flex;
    justify-content: space-between;
}

input{
    margin-left: 15px;
    background-color: aliceblue;
    height: 30px;
    width: 211px;
    border-radius: 8px;
    border-style: none;
    padding: 10px; 
}

label{
    font-weight: 500;
    margin-right: 15px;
    background-color:  rgb(192, 33, 240);
    color: aliceblue ;
}

.labels{
    margin-top: 0.7rem;
    margin-bottom: 0.5rem;
}
.submit-button{
    background-color: #cfe3dc; /* Green */
    border-radius: 9999px;
    border: none;
    color: rgb(12, 11, 11);
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    margin-left: 65%;
    margin-top: 16px;    
}
.submit-button:hover{
    cursor: pointer;
    transition: 1s;
    background-color:rgb(48, 242, 126) ;
}